
<form name="passwordform" class="form-wrapper">
  <div ng-show="message" ng-bind="message" class="alert alert-danger"></div>
  <div class="form-group">
    <label>{{language.password.password}}</label>
    <input type="password" name="password" ng-model="pass.password" required="required" class="form-control"/>
  </div>
  <div class="form-group">
    <label>{{language.password.confirmPassword}}</label>
    <input type="password" name="confirmpassword" ng-model="pass.confirmpassword" required="required" class="form-control"/>
  </div>
  <button ng-click="submit(passwordform)" class="buttonsubmit">{{language.password.save}}</button>
</form>