<script src="/app/createaccount/createaccount.controller.js"></script>
<script src="/app/createaccount/createaccount.js"></script>

<div id="log">
  <div class="col-sm-6 col-sm-offset-3">
    <h3 class="text-center"><img ng-src="/img/Logo_White.png" width="100"/></h3>
    <div ng-if="message" ng-bind="message" class="alert alert-danger"></div>
    <form name="login" class="text-center">
      <div class="form-group">
        <label class="headertext">{{language.loginPage.username}}</label>
        <input type="email" ng-model="user.email" required="required" style="width:40%" class="form-control"/>
      </div>
      <div class="form-group">
        <label class="headertext">{{language.loginPage.password}}</label>
        <input type="password" ng-model="user.password" required="required" style="width:40%" class="form-control"/>
      </div>
      <button ng-click="submit(login)" style="margin-left:auto; margin-right:auto" class="buttonsubmit">{{language.loginPage.login}}</button>
<br>
      <label class="headertext"> {{language.loginPage.or}} </label>
     <label class="headertext"> <a class="signuplink" data-toggle="modal" data-target="#myModal" >{{language.loginPage.signup}}</a></label>

    </form>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{language.signup.skapakonto}}</h4>
        </div>
        <div class="modal-body">

            <form width="80%" name="signupform">
              <tr>
                <td>
                  <div class="form-group">
                    <label>{{language.signup.personal_number}}</label>
                    <input type="text" name="personal_number" placeholder="ÅÅÅÅMMDD-XXXX" ng-model="new_user.personal_number" required="required" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>{{language.signup.firstname}}</label>
                    <input type="text" name="firstname" placeholder="Förnamn" ng-model="new_user.firstname" required="required" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>{{language.signup.lastname}}</label>
                    <input type="text" name="lastname" placeholder="Efternam" ng-model="new_user.lastname" required="required" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>{{language.signup.email}}</label>
                    <input type="email" name="email" placeholder="exempel@mail.se" ng-model="new_user.email" required="required" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label>{{language.signup.password}}</label>
                    <input type="password" name="password" placeholder="Minst 6 tecken, varav minst en bokstav och en siffra" ng-model="new_user.password" required="required" class="form-control"/>
                  </div>
                  <button ng-click="submitcreate(signupform)" data-dismiss="modal" class="buttonsubmit">{{language.signup.skapakonto}}</button>
                </td>

          </form>
        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div>
    </div>
  </div>

    <!-- Modal -->

</div>
</div>